body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
  }
  
  .timer {
    font-size: 120px;
    margin-top: 20px;

  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    color: violet;
    background-color: black;
    border: 2px solid violet;
    border-radius: 5px;
    cursor: pointer;
  }

  .gachapon {
    margin-top: 20px;
  }

  #sessionStatus {
    font-size: 72px; /* Large font size */
    color: pink; /* Pink color */
    padding: 10px; Padding
    margin-top: 20px; /* Top margin */
  }

  .hidden {
    display: none;
  }